# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
bin/
include/
lib/
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
pyvenv.cfg

# FastAPI specific
generated_deck.apkg

# Configuration files
*.env

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
cover/

# IDEs and editors
.vscode/
.idea/
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
